[user]
	name = Sam Praneis
	email = sampraneis@gmail.com
	signingkey = /home/samp/.ssh/git_id.pub
[gpg]
	format = ssh
[core]
  editor = nvim
  pager = delta

[delta]
  navigate = true

[merge]
  tool = "nvim -d"
  conflictstyle = diff3

[diff]
  algorithim = histogram
  colorMoved = default
  tool = difftastic
[difftool]
  prompt = false
[commit]
  verbose = true
[alias]
  # Open a diff in nvim diffview
	dt = "! args=$@; shift $#; nvim -c \"DiffviewOpen $args\""
  s = status
  co = switch
  last = log -1 HEAD
  show-merge = "!f(){ merge_commit=${1:?Merge commit not provided}; git log --pretty=oneline $1^..$1 --abbrev-commit; };f"
	# View what commits were merged as part of a merge commit, with graph and fancier merge-base
	log-merge = "!f(){ merge=${1:?Merge commit not provided}; parents=$(git log $merge --pretty=format:%P -1); base=$(git merge-base --octopus $parents); shift 1; other_args=$@; git log --graph $base..$merge $other_args; };f"
	# Safer push -f
	pushf = "push --force-with-lease --force-if-includes"
	# View recent branches with ahead, behind, committer, date, commit message
	# git lastb <branch (default origin/main)> <num (default 10)>
	lastb = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-10} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/main}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/main}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind|branch|lastcommit|message|author\n\" && cat) | column -ts'|';}; r"

  lg = log --all --decorate --graph --abbrev-commit --oneline
[color]
  ui = true
[init]
	defaultBranch = main
