configuration {
modi: "window,run,ssh,combi";
fixed-num-lines: true;
show-icons: false;
combi-modi: "window,run,drun";
max-history-size: 50;
window-thumbnail: true;
kb-remove-to-eol: "";
kb-accept-entry: "Return,KP_Enter";
kb-row-up: "Control+k";
kb-row-down: "Control+j";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
}
@theme "theme"
