* {
    border: none;
    border-radius: 2px;
    font-family: Atikinson-Hyperlegible-Regular;
    font-size: 16pt;
    min-height: 0;
}

window#waybar {
    background: #e6e9ef;
    border-bottom: 3px solid #dce0e8;
    color: #4c4f69;
}

tooltip {
  border-radius: 5px;
  border: 2px solid #dce0e8;
}

#custom-scratchpad-indicator {
    padding: 0px 8px;
    border-bottom: 2px solid #7AA89F;
    border-radius: 2px;
}

#workspaces button {
    border-radius: 3px;
    background: transparent;
    border-bottom: 2px solid transparent;
    padding: 0 5px;
}

#workspaces button.focused {
    color: #252535;
    border-radius: 3px;
    background: #7287fd;
}
#mode {
    border-radius: 3px;
    border-bottom: 2px solid #dc8a78;
    padding: 0 10px;
}

#custom-weather {
    padding: 0px 8px;
    border-bottom: 2px solid #98BB6C;
    border-radius: 2px;
}
#custom-spotify {
    padding: 0px 8px;
    border-bottom: 2px solid #98BB6C;
    border-radius: 2px;
}
#memory {
    padding: 0px 8px;
    border-bottom: 2px solid #7AA89F;
    border-radius: 2px;
}
#cpu {
  padding: 0px 8px;
  border-radius: 2px;
  border-bottom: 2px solid #7FB4CA;
}
#temperature {
    padding: 0px 8px;
    border-radius: 2px;
    border-bottom: 2px solid #9CABCA;
}
#pulseaudio{
    padding: 0px 10px;
    border-bottom: 2px solid #7E9CD8;
    border-radius: 2px;
}
#pulseaudio.muted{
    padding: 0px 10px;
    border-bottom: 2px solid #C0A36E;
    border-radius: 2px;
}
#backlight{
    padding: 0px 8px;
    border-bottom: 2px solid #658594;
    border-radius: 2px;
}
#custom-wl-gammarelay-temperature{
    padding: 0px 8px;
    border-bottom: 2px solid #658594;
    border-radius: 2px;
}
#network {
    padding: 0px 8px;
    border-bottom: 2px solid #2D4F67;
    border-radius: 2px;
}
#clock {
  padding: 0px 8px;
  border-radius: 3px;
  border-bottom: 2px solid #938AA9;
}
#battery {
    padding: 0px 8px;
    border-radius: 2px;
    border-bottom: 2px solid #957FB8;
}

#battery.charging {
    border-radius: 2px;
    border-bottom: 2px solid transparent;
    background-color: #40a02b;
}

#battery.critical:not(.charging) {
    background: #d20f39;
}

#battery.warning:not(.charging) {
    background: #df8e1d;
}
