* {
    border: none;
    border-radius: 1px;
    font-family: Fira code;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #1F1F28;
    border-bottom: 2px solid #16161D;
    color: #DCD7BA;
}

tooltip {
  background: #54546D;
  border: 2px solid #2D4F67;
}

tooltip label {
  color: #DCD7BA;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #DCD7BA;
    border-bottom: 2px solid transparent;
}

#workspaces button.focused {
    background: #54546D;
    border-bottom: 2px solid #DCD7BA;
}

#mode, #clock, #battery {
    padding: 0 12px 0 12px;
}

#mode {
    background: #64727D;
    border-bottom: 2px solid #DCD7BA;
}

#clock {
    background-color: #54546D;
}

#battery {
    background-color: #1F1F28;
    color: #DCD7BA;
}

#battery.charging {
    color: white;
    background-color: #76946A;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #E82424;
    color: #252535;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
